@import url('https://fonts.googleapis.com/css2?family=Yuji+Boku&family=Yusei+Magic&display=swap');
body{
	
	margin-top:160px;
	align-items: center;
	text-align: center;
}

button.TR{
	margin:0;
	padding:0;
	background: transparent;
	border:none;
}

#side-menu{
	position:absolute; 
	top:1;
	left:1;
}


header {
	position:absolute;
    width: 100%; /* 幅いっぱいを指定 */
    height: 150px; /* 高さを指定 */
    justify-content: center;/* 真ん中指定 */
	align-items: center; /* 中の要素を上下中央に並べる */
    padding: 20px; /* ヘッダーに上下余白を指定 */
    box-sizing: border-box; /* padding分を含んで幅を100%にするため */
	margin:0px 0px 20px;
    top: 0; /* 上下の固定位置を上から0pxにする */
    left: 0; /* 左右の固定位置を左から0pxにする */
    display: flex; /* 中の要素を横並びにする */
	 background: #DEB887; /* 背景色を指定 */
	 
}
footer {
	bottom:0px;
	width: 100%;
}
h1{
	white-space: nowrap;
	font-family: 'Yusei Magic', sans-serif;
	color:#2E8B57;
	
}
h2{
		white-space: nowrap;
		font-family: 'Yuji Boku', serif;
		color:#2F4F4F;
}
.whole{
	font-size:2vh;
}
.t1{ 

	font-size:2vh;
}

.t2{
	margin-top:10px;
	
}
.Links{
		display:flex;
	padding:0;
    flex-wrap: wrap;
	justify-content: center;
}
.Links>div{
	width:180px;
}
.SNS{
	display:flex;
	padding:0;
    flex-wrap: wrap;
	justify-content: center;
}
.SNS>div{
	width:180px;
}
header .gnav .menu {
    display: flex; /* 中の要素を横並びにする */
}

header .gnav .menu li {
    list-style: none; /* リストの[・]を消す */
}

header .gnav .menu li + li {
    margin-left: 40px; /* メニューそれぞれに間隔をあけるため */
}



img{
	
  object-fit: cover;
}



.toggle-switch{
  display: block;
  width: 1em;
  font-size: 1em;
  background: #55BEFC;
  box-shadow: 1px 0 3px 0 #000;
  text-align: center;
}


#side-menu-toggle{
  display: none;
}

/* 非チェック時の.menu-list */
#side-menu-toggle:not(:checked) ~ .menu-list{
  width: 0;
}

/* チェック時の.menu-list */
#side-menu-toggle:checked ~ .menu-list{
  width: 40em;
}

.menu-list{
  padding:0;
  margin: 0;
  background: #FFFFFF;
  box-shadow: 1px 1px 3px 0 #000;
  overflow: hidden;
  

  /* menu表示時のアニメーション */
  transition: 0.2s;
}
 .Sprits{
	 list-style:none;
	   padding:0;
  margin: 0;
 }


.menu-list > .list-item0{
text-align: left;
color:#FFFFFF;
background:#1A0D04;
padding:1em;
}

.menu-list > .list-item1{
  padding:0;
  margin: 0;
color:#000000;
display:inline-flex;
text-align:left;

}
button.IF
{
	width: 40em;
  height:6em;
  display:flex;
  	align-items:center;

}

.IF-index
{
	font-size:30px;

  
}

.menu-list > .list-item{
  text-align:left;
  list-style: none;
}

.menu-list > .list-item a{
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  /* 単一行で表示 */
  white-space: nowrap;
  /* リンク下線非表示 */
  text-decoration: none;
  outline: none;
}

/* css4  */
.menu-list > .list-item a:-webkit-any-link{
  color: #000;
}

.menu-list > .list-item a:-moz-any-link{
  color: #000;
}

/* any-link 未対応ブラウザ用 */
.menu-list > .list-item a:link,
.menu-list > .list-item a:visited{
  color: #000;
}

/* リンクホバー時 */
.menu-list > .list-item a:hover{
  background: #303030;
  color: #fff;
}

.gage-item{
	display:flex;
	vertical-align:middle
}

.gage{
    border: 1px solid #333;
    background: #999;
    width: 200px;
	margin-left:100px;
}
.gage>div{
	padding-left:20px;
    height: 10px;
    background: #78d461;
}

